@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.backgroundMobileImage {
    background-image: url('./assets/img/backChefMobile.png');
    background-size: cover;
}

.backgroundDeskTopImage {
    background-image: url('./assets/img/background.png');
    background-size: cover;
}